<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
<h:head></h:head>
<h:body>
    <h:form>
        <p:commandButton oncomplete="PF('addDialog').show()" class="btn btn-primary"
                         process="@this" update=":addDialogForm" value="Добавить автора" actionListener="#{authorsManagedBean.addNewAuthor}">
        </p:commandButton>
    </h:form>
    <b:form id="tableForm">
        <p:dataTable value="#{authorsManagedBean.authors()}" var="author"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                     paginator="true" rows="15" style="margin-bottom:20px">
            <p:column>
                <f:facet name="header">№</f:facet>
                <h:outputText value=" #{author.id}"/>
            </p:column>
            <p:column>
                <f:facet name="header">Имя</f:facet>
                <h:outputText value=" #{author.name}"/>
            </p:column>
            <p:column>
                <f:facet name="header">Фамилия</f:facet>
                <h:outputText value=" #{author.surname}"/>
            </p:column>
            <p:column>
                <f:facet name="header">Отчество</f:facet>
                <h:outputText value=" #{author.patronymic}"/>
            </p:column>
            <p:column>
                <f:facet name="header">Университет</f:facet>
                <h:outputText value=" #{author.university}"/>
            </p:column>
            <p:column>
                <f:facet name="header">
<!--                    <h:outputText value=" "/>-->
                    Изменение
                </f:facet>
                <p:commandLink oncomplete="PF('editDialog').show()"
                               process="@this" update=":editDialogForm" value="Изменить">
                    <f:setPropertyActionListener value="#{author}"
                                                 target="#{authorsManagedBean.current}" />
                </p:commandLink>
            </p:column>
            <p:column>
                <f:facet name="header">
                    <h:outputText value=" "/>
                </f:facet>
                <p:commandLink oncomplete="PF('infoDialog').show()"
                               process="@this" update=":infoDialogForm" value="Информация" actionListener="#{authorsManagedBean.info(author)}">
                </p:commandLink>
            </p:column>
            <p:column>
                <f:facet name="header">
                    <h:outputText value=" "/>
                </f:facet>
                <p:commandLink value="Удалить" action="#{authorsManagedBean.removeAuthor(author)}" process="@form" update="@form :tableForm"/>
            </p:column>
        </p:dataTable>
    </b:form>
    <p:dialog header="Изменение данных автора" widgetVar="editDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <h:form id="editDialogForm">
            <p:panelGrid columns="2">
                <h:outputLabel value="Имя: " />
                <b:inputText value="#{authorsManagedBean.current.name}" required="true">
                    <f:validateRegex pattern="[А-ЯЁ]{1}[а-яё]+"/>
                </b:inputText>
                <h:outputLabel value="Фамилия: " />
                <b:inputText value="#{authorsManagedBean.current.surname}" required="true">
                    <f:validateRegex pattern="[А-ЯЁ]{1}[а-яё]+"/>
                </b:inputText>
                <h:outputLabel value="Отчество: " />
                <b:inputText value="#{authorsManagedBean.current.patronymic}" required="true">
                    <f:validateRegex pattern="[А-ЯЁ]{1}[а-яё]+"/>
                </b:inputText>
                <h:outputLabel value="Университет: " />
                <b:inputText value="#{authorsManagedBean.current.university}" required="false"/>
                <f:facet name="footer">
                    <b:commandButton value="Отменить" class="btn btn-secondary" onsuccess="PF('editDialog').hide()"/>
                    <b:commandButton value="Сохранить" action="#{authorsManagedBean.acceptEditAuthor}" class="btn btn-primary float-right"
                                     process="@form" update="@form :tableForm"/>
                </f:facet>
            </p:panelGrid>
        </h:form>
    </p:dialog>
    <p:dialog header="Добавление нового автора" widgetVar="addDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <h:form id="addDialogForm">
            <p:panelGrid columns="2">
                <h:outputLabel value="Имя: " />
                <b:inputText value="#{authorsManagedBean.current.name}" required="true">
                    <f:validateRegex pattern="[А-ЯЁ]{1}[а-яё]+"/>
                </b:inputText>
                <h:outputLabel value="Фамилия: " />
                <b:inputText value="#{authorsManagedBean.current.surname}" required="true">
                    <f:validateRegex pattern="[А-ЯЁ]{1}[а-яё]+"/>
                </b:inputText>
                <h:outputLabel value="Отчество: " />
                <b:inputText value="#{authorsManagedBean.current.patronymic}" required="true">
                    <f:validateRegex pattern="[А-ЯЁ]{1}[а-яё]+"/>
                </b:inputText>
                <h:outputLabel value="Университет: " />
                <b:inputText value="#{authorsManagedBean.current.university}" required="false"/>
                <f:facet name="footer">
                    <b:commandButton value="Отменить" class="btn btn-secondary" onsuccess="PF('addDialog').hide()"/>
                    <b:commandButton value="Добавить" class="btn btn-primary float-right" action="#{authorsManagedBean.acceptNewAuthor}"
                                     process="@form" update="@form :tableForm"/>
                </f:facet>
            </p:panelGrid>
        </h:form>
    </p:dialog>
    <p:dialog header="Просмотр данных автора" widgetVar="infoDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <h:form id="infoDialogForm">
            <h:outputLabel styleClass="center" value="#{authorsManagedBean.prescriptionsOfAuthor}"/>
        </h:form>
    </p:dialog>
    <h:form>
        <p:commandButton value="Главная" action="#{authorsManagedBean.goToHome}" class="navbar-btn btn-danger btn"/>
        <p:commandButton value="Статьи" action="#{authorsManagedBean.goToArticle}" class="navbar-btn btn-danger btn"/>
        <p:commandButton value="Авторы статей" action="#{authorsManagedBean.goToArticleAuthor()}" class="navbar-btn btn-danger btn"/>
    </h:form>
</h:body>
</html>
